.navbar-light .navbar-nav .nav-link{
  color:#f36e21;
    font-size: 24px;
}

.navbar-light .navbar-nav .nav-link:hover{
  color:white;
}

a{
  color: black;
  text-decoration: none!important;
  cursor: pointer;
}

a:hover{
  color: #f36e21
}

.navbar{
  background: #333;
  width: 100%;
}

.navbar-light .navbar-brand{
  color: #f36e21;
    font-size: 24px;
}

.navbar-light .navbar-brand:hover{
  color: white;
}

.navbar-light .navbar-toggler{
  background: white;
}

.navbar-brand {
  padding: 0px;
}
